@{
    ViewBag.Title = "Movie Shop Home";
}

<h1>Best Movies</h1>
<h4>E-Movies is dedicated to providing heavily discounted prices for DVDs.</h4> 
<h4>We strive to make the process of purchasing these products as simple</h4> 
<h4>as possible by offering fast, accurate product searches, easy to follow</h4>   
<h4>procedures and FREE Shipping on orders of $25 or more.</h4> 